//! base-color
$white-color: #fff;
$black-color: #0c0c0d;
$gray-color: #c4c4c4;

//! background-color
$background-color: $black-color;

//! text-color
$text-color-description: rgba($gray-color, 0.7);

//! elements
$devider-color: rgba($gray-color, 0.3);

//! main-colors
$primary-color: #42d392;
$secondary-color: #647eff;
