* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $white-color;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: $background-color;
}

.main {
	margin-top: 140px;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
